
.home-center-display {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: scroll;
}

.div {
    width: 60vw;
}

.food-filter-outer {
    width: 100%;
    /* width: 100%; */
}



.food-filter-div {
    overflow: scroll;
    /* width: 100%; */
    display: flex;
    gap: 2vw;
}

.food-filter-div::-webkit-scrollbar-track,
 .food-filter-div::-webkit-scrollbar-thumb {
    background: white;
    display: none;
    border: 1px solid white;
    display: none;
}

.food-filter-div::-webkit-scrollbar {
    width: 0px;
}


.food-filter-btn {
    font-size: 14px;
    border: none;
    outline: none;
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s ease-out;
    color: var(--text-color-inactive);
    background: var(--bg-color-inactive);
}

.btn {
    transition: all .4s ease-out;
    color: var(--text-color-inactive);
    background: var(--bg-color-inactive); 
}

.selected-btn {
    font-weight: bold;
    color: var(--text-color-bold);
    background: var(--btn-selected-bg);
}

.btn:hover {
    background-color: gray;
    color: var(--text-color-bold);
}

.title-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.product-item-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 240px));
    gap: 32px;
    place-items: center;
}